@model IEnumerable<TaskManager.Models.Response.Courses>

@{
    ViewData["Title"] = "Explore";
}

<h4>Course Explore</h4>

<style>
    
    img {
      display: block;
      border-radius: 8px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      height:130px;
      color:black;
      opacity: 0.6;    
    }

    img:hover {
      opacity: 1.0;
    }
 

    * {
      box-sizing: border-box;
    }

    .course-section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .course-section #course-tag {
      margin-bottom: 40px;
      margin-right: 400px;
      font-weight: bold;
      font-size: 30px;
    }

    .course-section .course-box {
      background-color: white;
      height: 100%;
      width: 100%;
      margin: 30px;
      overflow: hidden;
      box-shadow: 0 0 15px 3px #b0abaa;
      display: flex;
      flex-wrap: wrap;
      padding: 40px 50px 40px 50px;
    }

    .course-section .course-box .course-list {
      flex: 0 0 20%;
      position: relative;
      font-size: 14px;
      border: 1px solid #d6d5d2;
      border-radius: 8px;
      height:280px;
      margin: 30px;
    }

    .course-section .course-box .course-list:before {
      content: "";
      position: absolute;
      left: 10px;
      top: 3px;
      height: 15px;
      width: 15px;
      display: inline-block;
    }

    .button {
      background-color: #04AA6D;
      border: none;
      color: white;
      font-size: 10px;
      font-weight:bold;
      height:25px;
      border-radius: 8px;
      margin:10px;
    }

</style>

<div class="course-section">
  <div class="course-box">
    @foreach (var item in Model) {
            <!-- 
            Bootstrap docs: https://getbootstrap.com/docs
            -->
        
       <div class="course-list">
            <div>
                <img src="@Url.Content(item.CourseImageFullPath)"  id="courseimg" onerror="this.onerror=null; this.src='https://ample.omnex.com/resources/product/images/NewIcons/svg/course.svg'">
            </div>
            <div style="font-size:14px; font-weight:bold; padding:10px;">
                @Html.DisplayFor(modelItem => item.CourseName)
            </div>
            <div>
                <span style="font-size:12px; font-weight:bold; padding-left:10px;">Instructor :</span>
                <span style="font-size:12px;">
                    @Html.DisplayFor(modelItem => item.InstructorName)
                </span>
            </div>
            <div>
                <span style="font-size:12px; font-weight:bold; padding-left:10px;">Site :</span>
                <span style="font-size:12px;">
                    @Html.DisplayFor(modelItem => item.CentreName)
                </span>
            </div> 
            <div style="font-size:12px; padding-left:10px;">
                <span style="font-size:12px;">
                    @Html.DisplayFor(modelItem => item.BatchStartDate)
                </span>
                <span> - </span>
                <span style="font-size:12px;">
                    @Html.DisplayFor(modelItem => item.BatchEndDate)
                </span>
            </div>
           <button type="button" class="button" onClick="goToCourse('@item.BatchCourseID','@ViewBag.userID');">GO TO COURSE</button>
      </div>   
 }
  </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

         <script type="text/javascript">
            function goToCourse(batchCourseID,userEmail) {
              // window.location= "http://localhost:8080/evidya/ewqmslogin?userID=" +userEmail + "&batchCourseID=" + batchCourseID;
               window.open("http://localhost:8080/evidya/ewqmslogin?userID=" +userEmail + "&batchCourseID=" + batchCourseID, '_blank').focus();
            }

         </script>
}