@model IEnumerable<TaskManager.Models.Response.EmployeeTaskReport>

@{
    ViewData["Title"] = "Report";
}

<h1>Report</h1>


<div style="float: left;">
    <table>
        <tr>
            <td>Employee :</td>
            <td>
                @Html.DropDownList("AssignedTo", (IEnumerable<SelectListItem>)ViewBag.AssignedTo, new { @class = "form-control", @id = "ddlEmployee" })
            </td>
            <td>Priority</td>
            <td>
                @Html.DropDownList("Priority", (IEnumerable<SelectListItem>)ViewBag.Priority, new { @class = "form-control", @id = "ddlPriority" })

            </td>
            <td>Start Date :</td>
            <td>
                  <input type="date" id="startDate" name="startDate" />
            </td>
            <td>End Date</td>
            <td>
                <input type="date" id="endDate" name="endDate" />
            </td>
            <td>
                <button id="btnSearch" type="button" class="btn btn-danger">
                Search
            </button>
            </td>
        </tr>

    </table>
    
</div>
<div style="height:380px;overflow:auto;float: right;">
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EpicName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.AssignedTo)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.RequestedBy)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            
            <!--<th>
                @*@Html.DisplayNameFor(model => model.PlannedStart)*@
            </th>-->
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <!--<th>
                @*@Html.DisplayNameFor(model => model.ModifiedDate)*@
            </th>-->
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
        </tr>
    </thead>
    <tbody id="tableReport">
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EpicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <!--<td>
                @*@Html.DisplayFor(modelItem => item.PlannedStart)*@
            </td>-->
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <!--<td>
               @* @Html.DisplayFor(modelItem => item.ModifiedDate)*@
            </td> -->           
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
        </tr>
    }
    </tbody>
</table>    
</div>








@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


         <script type="text/javascript">
            $(function () {
                $('#btnSearch').click(function () {
                    var userid = $("#ddlEmployee").val();
                    var priority = $("#ddlPriority").val();
                    var startDate = $('#startDate').val();
                    var endDate = $('#endDate').val();
                    var params = JSON.stringify({
                        "employeeId": userid
                    });
                    if (userid != "") {
                        $.ajax({
                            url: "/TaskReport/GetEmployeeReport?employeeId="+userid + "&priority=" + priority +"&startDate="+startDate +"&endDate=" + endDate,
                            contentType: 'application/json',
                            type: 'GET',
                            success: function (response) {
                                console.log(response);
                                $("#tableReport").empty();                               

                            },
                            error: function () {
                               // alert("Error :" + userid);
                            }
                        });
                                               
                    }
                });
            });
        </script>


            }