@model IEnumerable<TaskManager.Models.ETasks>

@{
    ViewData["Title"] = "Index";
}

<div class="text-right mt-4">
    <a type="button" class="btn btn-primary" asp-action="Create">Create New Task</a>
</div>
<table class="table table caption-top table-hover table-striped">
    <caption class="pt-0"><h3 class="my-0">Task List</h3></caption>
    <thead class="table-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriorityID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Epics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestedUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            var requestDate= item.RequestDate.ToShortDateString();
            var dueDate = item.DueDate.ToShortDateString();
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionType.OptionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Projects.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Epics.EpicsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusType.OptionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => requestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => dueDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
