@model IEnumerable<TaskManager.Models.ETasks>

@{
    ViewData["Title"] = "Index";
}

<h3>My Tasks</h3>


<table class="table table-hover">
    <thead>
        <tr>
            <th class="text-primary">
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th class="text-primary">
                @Html.DisplayNameFor(model => model.OptionType)
            </th>
            <th class="text-primary">
                @Html.DisplayNameFor(model => model.EstTime)
            </th>
            <th class="text-primary">
                @Html.DisplayNameFor(model => model.TimeSpent)
            </th>
            <th class="text-primary">
                @Html.DisplayNameFor(model => model.Projects)
            </th>
            <th class="text-primary">
                @Html.DisplayNameFor(model => model.Epics)
            </th>
            <th class="text-primary">
                @Html.DisplayNameFor(model => model.AssignedUser)
            </th>
            <th class="text-primary">
                @Html.DisplayNameFor(model => model.RequestedUser)
            </th>
            <th class="text-primary">
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th class="text-primary">
                @Html.DisplayNameFor(model => model.PlannedStart)
            </th>
            <th class="text-primary">
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th class="text-primary">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th class="text-primary">
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th class="text-primary"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionType.OptionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSpent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Projects.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Epics.EpicsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlannedStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusType.OptionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
